*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.bntn{
    width: 15%;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    font-size:20px;
    font-weight: bold;
    background-color:#ec5643 ;
    transition: transform 0.3s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
    text-align: center;
    
    

}
.bntn:hover{
    background-color: #61e961;
    transition: 0.5s;
    transform: translateX(5px);
    outline: none;
    
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    margin-top: -500px;
    background-color: transparent;
    width: 100%;
    height: 10%;
    background-color: rgb(182, 168, 182);
    opacity: 0.9;
    
}
.navbar:hover{
    background-color: rgb(202, 181, 218);
}
.logo #log{
    width: 50%;   
}


nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    height: 80px;

}
nav ul li{
    display: inline-block;
    
    
}
a{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #555;
    margin-right: 20px;
    border-radius: 10px;


}
a:hover{
    
    background:rgb(214, 213, 213);

}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    width:100%;
    margin-top: 10px;
    
}

.col-2 img{
    max-width: 100%;
    width: 100%;
    height: 50%;
    
}
.col-2 img:hover{
    transition:0.5s;
     transform: translateX(-30px);/*pour faire annim*/
     

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;/*top and bottom 25px ;left and rigth 0*/
}
.col-2 h1:hover{
    transition: 0.5s;
    transform: translateY(-30px);
}
.col-2 p{
    font-size: 30px;
}
.btn{
    display: inline-block;
    background-color:#ec5643 ;
    color: #fff;
    padding :20px 50px;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
    
    
    
}
.btn:hover{
    background: #61e961;
    transition: 0.5s;
    transform: translateX(5px)
}
.header{
    height: 35rem;
    margin-top: -180px;
    background: radial-gradient(rgb(77, 168, 211),#dda3a3);
}
.header .row{
    margin-top: 15%;
}
.categories{
    margin: 70px 0;  
}
.col-3{
    flex:30% ;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 90%;
    border-radius: 10px;
    
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left:25px;
    padding-right:25px ;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
    margin-top: 40%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    border-radius: 10%;
}
.title{
    text-align: center;
    margin: 0 auto;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title:after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);/*pour faire annim*/
}
/*-------offer------*/
.offer {
    background: radial-gradient(rgb(77, 168, 211),#dda3a3);
    margin-top: 80px;
    padding: 30px 0; 
}

.col-2 .offer-img{
    padding: 30px;
}
/*----------brands-------------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
    transform: translateY(-10px);
    transition: 0.5s;
}
/*--------------footer------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;

}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    
}
/*--------media query for menu---------*/
@media only screen and (max-width:800px){
    nav ul { 
        position:absolute ;
        top: 70px;
        left:0;
        background: #333;
        width: 100px;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}
